.App {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  background-color: #1E1E1E;
  min-height: 100vh;
  width: 100vw;
  color: white;
  padding-top: 110px;
}

.main {
  padding: 2rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  transform-origin: left center;
}
.main.shrink {
  transform: scale(0.9) translateX(200px); 
  filter: brightness(0.8); 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
