.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 2rem;
  line-height: 60px;
  background-color: #1E1E1E;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border-bottom: 2px solid #181818;
  z-index: 1000;
}